<h2>Enrol</h2>
<p>On this page you can enrol in barbershop</p>

<form action="/enrol" method="POST" role="form">

  <div class="form-group">
    <label>Your name</label>
    <input name="user_name" type="text" class="form-control"  placeholder="Enter your name">
  </div>

  <button type="submit" class="btn btn-primary">Enrol</button>

</form>
